$main-background-color: #f0f0f0;
$secondary-background-color: #464547;
$table-bacground-color: #ffffff;

$header-text-color: #ffffff;
$main-text-color: #000000;

$border-color: #e3e3e3;
$border-button: #2d2c2d;
